@charset "UTF-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.pcs:after {
  content: " pcs";
}
* {
  box-sizing: border-box;
}

.back-img{
  background-image: url("../img/home.png");
  background-size: cover;
  height: 92.5vh;
  overflow: hidden;
  position: relative !important;
}

.back-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  background-color: rgba(56, 64, 70, 0.7);
  z-index: 2;
}

.front_1{
  position: absolute;
  opacity: 1;
  z-index: 1041;
}
/* try */
.container2{
  width: 100%; 
  height: 58vh; 
  margin: 0 auto;
  overflow: auto!important;
  white-space: nowrap;
}

/* .content2{
  width: 1400px;  
  /* height: 1400px;   *
} */

/* .content2 div {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 10px;
} */

/* body {
  padding: 0.2em 2em;
} */
@media (max-width: 1199.98px) { 
  .container2{
    width: 100%; 
    height: 62vh; 
    margin: 0 auto;
    overflow-x: auto!important;
    white-space: nowrap;
  }
  
  .content2{
    width: 1400px;  
    /* height: 1400px;   */
  }
  
  .content2 div {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }
  .title2{
    justify-content: center!important;
  }
  .back-img{
    height:93.615vh;
  }
}

.width-72{
  width: 11%;
}
.pad-2 {
  padding: 0.2em 2em;
}

table {
  width: 100%;
}
table th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
table th, table td {
  padding: 0.4em;
}

table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
  cursor: pointer;
}
table.fold-table > tbody > tr.view td:first-child,
table.fold-table > tbody > tr.view th:first-child {
  position: relative;
  padding-left: 20px;
}
table.fold-table > tbody > tr.view td:first-child:before,
table.fold-table > tbody > tr.view th:first-child:before {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 9px;
  height: 16px;
  margin-top: -8px;
  font: 16px fontawesome;
  color: #999;
  content: "";
  transition: all 0.3s ease;
}
table.fold-table > tbody > tr.view:nth-child(4n-1) {
  background: #eee;
}
table.fold-table > tbody > tr.view:hover {
  background: #808080;
}
table.fold-table > tbody > tr.view.open {
  background: #3e3e3e;
  color: white;
}
table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
  transform: rotate(-180deg);
  color: #333;
}
table.fold-table > tbody > tr.fold {
  display: none;
}
table.fold-table > tbody > tr.fold.open {
  display: table-row;
}

.fold-content {
  padding: 0.5em;
}
.fold-content h3 {
  margin-top: 0;
}
.fold-content > table {
  border: 2px solid #ccc;
}
.fold-content > table > tbody tr:nth-child(even) {
  background: #eee;
}

.modal-content{
  background-color: #f0f5f5!important;
}

.modal-body{
  padding: 2rem!important;
}

/* .form-group{
 
} */

.border1{
  border-radius: 15px;
  border: 0.1px solid #000000; 
  padding: 1.5rem!important;
}

.form-control{
  background-color: #333;
}

input{
  width: 80%;
  background-color: #cecece;
  line-height: 1.8 !important;
  border-radius: 2%;
  border:1px solid #ced4da;
}
textarea{
  background-color: #cecece;
  border:1px solid #ced4da;
  border-radius: 2%;
}

.bg1{
  background-color: #f0f5f5!important
}


