@media screen and (max-width:1320px){
    .dflex1{
            display: inline!important;
            }
    .margin1{
        margin: 2rem 0.1rem !important;
    }
}
.bg1{
    background-color: #f0f5f5!important
}

.overflow1{
    overflow-x: hidden!important;
}