@media screen and (max-width:1320px){
    .dflex1{
            display: inline!important;
            }
    .margin1{
        margin: 2rem 0.1rem !important;
    }
}
.bg1{
    background-color: #f0f5f5!important
}

.overflow1{
    overflow-x: hidden!important;
}
.width{
    width: 30%;
}

@media screen and (max-width:1320px){
    .dflex12{
            display: inline!important;
            }
    .margin12{
        margin: 0 !important;
    }
    .width12{
        width: 330px!important;
    }
}

@media screen and (max-width:1320px) {

    .button1{
        font-size: 1rem !important;
    }
}
    
.btn-primary{
    box-shadow: 1px 2px 5px #00000085;
}

