{% extends "users/base.html" %}
{% block content %}
{% load tags %}

    <!-- Your existing profile content goes here -->
    <!-- Add the button and JavaScript code here -->
    <div class="p-3 ">
        <div class="bg1 w-25 m-auto rounded width12 width1"  >
            <div class=" p-3 form-content w--rem-28" >
                <div class="">
                    <form id = 'expanseForm'>
                        {% csrf_token %}
                        <div class="">
                            <!-- Fields from Django form -->
                            <!-- Additional fields for Person, Hospital, and product/outcome -->
                                <input type="hidden" name="latitude" id="latitude">
                                <input type="hidden" name="longitude" id="longitude">
                                <div class="d-flex justify-content-center">
                                     <button class="btn btn-primary" id="update-coordinates-btn">Get My Coordinates</button>
                                </div>
                        <div class="form-group mt-3">
                            <label for="id_hospital_name_label">Hospital:</label>
                        <select name="hospital_name" id="id_hospital_name" class="form-control">
                            <option value=""> ----  </option>
                            {% for h in hospitals %}
                                <option value="{{ h.id }}">{{ h.hospital_name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                            <div class="form-group">
                                <label for="id_person_name_label">Person Name:</label>
                                <!-- <div class="warning">
                                    Please select hospital first
                                </div> -->
                                <select name="person_name" id="id_person_name" class="form-control">
                                    
                                    <option value=""> Please select hospital first </option>
                                </select>
                                <div class="form-group mt-3">
                                    <label for="id_department">Department of Person:</label>
                                    <select name="department" id="id_department" class="form-control">
                                        {% for choice in department %}
                                            <option value="{{choice}}">{{choice}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_product">Product Discussed:</label>
                                <textarea name="product" id="id_product" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="id_outcome">Outcome:</label>
                                <textarea name="outcome" id="id_outcome" class="form-control"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2 mb-2" >
                            Submit
                        </button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('update-coordinates-btn').addEventListener('click', function(e) {
            e.preventDefault();
            if ('geolocation' in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    console.log('coordinates are :' + latitude + ', ' + longitude)
                    $('#latitude').val(latitude)
                    $('#longitude').val(longitude)
                    alert('coordinate added sucessfully')
                });
            } else {
                alert('Geolocation is not available in your browser.');
            }
        });
        $('#id_hospital_name').on('change', function(){
            console.log('hospital changed')
            hospital_id = $(this).val();
            $.ajax({
                url: "{% url 'get_person' %}",
                type: 'GET',
                data: {
                    'hospital_id': hospital_id
                },
                success: function(response){

                    $('#id_person_name').html(response.content)
                    console.log(response)
                }
            })
        }) 
        $('#expanseForm').on('submit',function(e){
            e.preventDefault();
            form = this;
            formdata = $(form).serialize();
            $.ajax({
                url: "{% url 'coordinate' %}",
                type: 'POST',
                data: formdata,
                success: function(response){

                    console.log(response)
                    if (response.status == 'success'){
                        alert('Successfully submitted')
                        form.reset();
                    }
                }
            })
        })
    </script>
{% endblock %}