{% extends "users/base.html" %}
{% block content %}

<h1 class="p-3">
    Expenses
</h1>
{% if request.user_role == 'employee' %}
<form method="post">
    <div class="dflex1 d-flex w-100">
        <div class="dflex1 d-flex">
            {% csrf_token %}
            {% for field in form %}
            <div class="margin1 d-flex m-4">
                <div class="w-50 mx-2">
                    {{ field.label }}:
                </div>
                <div class="">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ml-2 my-4">
            <button type="submit" class="btn btn-primary">
                Add the Expense
            </button>
        </div>
    </div>
</form>
<div class="m-auto w-100">
    <div class="">
        {% if expenses %}
        <div class="jumbotron p-3">
            <div class="d-flex justify-content-end mb-4">
            <h3 class="text-center m-auto">Expense List</h3> <a href="{% url 'download-expenses-csv' %}" class ="d-flex justify-content-end " > <div class="btn btn-success ">Download Expenses CSV</div> </a> </div>

            <table class="table mx-auto" style="word-break: break-word;">
                <thead class="table-secondary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Amount Details</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td class="">{{ expense.amount_details }}</td>
                        <td class="w-25">{{ expense.amount }} {{ expense.currency }}</td>
                        <td class="w-25">{{ expense.date }}</td>
                        <td class="">
                            <form method="post" action="{% url 'delete-expense' expense.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">x</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% if request.user_role == 'manager' %}

{% endif %}
{% endblock %}