{% extends "users/base.html" %}
{% block content %}

<h1 class="p-3" >
    Add Your Expense
</h1>
    <form  method="post">
        <div class="d-flex">
        {% csrf_token %}
        {% for field in form %}
        <div class = "d-flex m-4 "> 
            {{field.label}}
            <div class="ml-3 ">
            {{field}}
            </div>
        </div>
        {% endfor %}
        <div class="ml-4 mt-4 ">
        <button type ="submit" class="btn btn-primary "> 
            Add the Expense
        </button> 
    </div> 
    </form>   
</div>
        <div class="m-auto w-100 " >
            <div class="">
                {% if expenses %}
                <div class="jumbotron p-3 ">
                    <h3 class="text-center p-3">Expense List</h3>
                <table class="table mx-auto w-75">
                <thead class="table-secondary">
                <tr>
                  <th scope="col ">#</th>
                  <th scope="col">Amount Details</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Date</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}   
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="">{{ expense.amount_details }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{expense.date}}</td>
                    <td class="">
                        <form method="post" action="{% url 'delete-expense' expense.id %}">{% csrf_token %}<button type="submit" class="btn btn-danger btn-sm">x</button></form>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            {% endif %}
        </div> 
    </div>
    </div>
</div>                                                                    
{% endblock %}