{% extends "users/base.html" %}
{% load static %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<section class="content ">
    <div class="content1">
    <div class="d-flex flex-row justify-content-center width-100vw">
        <div class="Montserrat head1 mt-5-custom sky-blue">Welcome, <span>{{request.user|default:'Guest'}} to</span></div>
    </div> 
    <div class="d-flex flex-row justify-content-center width-100vw">
        <div class="Montserrat head2 dark-blue">Sales-Management</div>
    </div> 
    <div class="d-flex flex-row justify-content-center width-100vw">
        <div class="Montserrat sky-blue">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta!</div>
    </div>  
    <div class="d-flex flex-wrap align-content-between justify-content-around raleway hover1">
        <div class="d-flex flex-row justify-content-center width-100vw">
            <img src="{% static 'static/img/home_laptop.png' %}" alt="" srcset="" class="home_image">
        </div>  
        
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
        {% comment %} <a href="{% url 'maps' %}" class="">
        <div class="box-1 d-flex flex-column align-items-center raleway">
            <img src="{% static 'static/img/map.png' %}" class="my-2" alt="map">
            <h3 class="inner_text">map</h3>
            <p class="px-2 mt-2 text-center">Click here to access your personalized map interface.</p>
        </div></a>
        <a href="{% url 'expense' %}" class="">
        <div class="box-1 d-flex flex-column align-items-center raleway">
            <img src="{% static 'static/img/budget.png' %}" class="my-2" alt="expense">
            <h3 class="inner_text">Expenses</h3>
            <p class="px-2 mt-2 text-center">click here to gain insights into your financial transactions.</p>
        </div></a> {% endcomment %}
        {% comment %} {% else %}
        <a href="{% url 'login' %}" button class="">
            <div class="box-1 d-flex flex-column align-items-center raleway">
            <img src="{% static 'static/img/user.png' %}" class="my-2" alt="expense">
            <h3 class="inner_text">Sign in</h3>
            <p class="px-2">Sign in to see your expenses</p>
        </div></a>
        {% endif %} {% endcomment %}
    </div>
</div>
</section>

<section class="content bg-light">
    <div class="content1">
        <div class="d-flex flex-row justify-content-center width-100vw">
            <div class="Montserrat head1 mt-5-custom sky-blue">What can we do?</span></div>
        </div> 
        <div class="d-flex flex-row justify-content-center width-100vw">
            <div class="Montserrat head2 dark-blue">Our service</div>
        </div> 
        <div class="d-flex flex-row justify-content-center width-100vw">
            <div class="Montserrat sky-blue">lorem100
            </div>
        </div>  
        <div class="d-flex flex-wrap align-content-between justify-content-around  hover1">
            <div class="d-flex flex-row justify-content-center width-100vw box_margin">

                <div class="mx-2 box_size1 d-flex justify-content-center align-items-center">
                    <div>
                        <img src="{% static 'static/img/phone.png' %}" alt="" srcset="" class="small_img">
                        <p>RSA</p>
                    </div>
                </div>  
                <div class="line1"></div>  
                <div class="mx-2 box_size1 d-flex justify-content-center align-items-center">
                    <div>
                        <img src="{% static 'static/img/car_service.png' %}" alt="" srcset="" class="small_img">
                        <p>Paint & Decals</p>
                    </div>
                </div>  
                <div class="line1"></div>  
                <div class="mx-2 box_size1 d-flex justify-content-center align-items-center">
                    <div>
                        <img src="{% static 'static/img/task.png' %}" alt="" srcset="" class="small_img">
                        <p>Insurance</p>
                    </div>
                </div>  
                <div class="line1"></div>  
                <div class="mx-2 box_size1 d-flex justify-content-center align-items-center">
                    <div>
                        <img src="{% static 'static/img/car_repair.png' %}" alt="" srcset="" class="small_img">
                        <p>Car<br> Inspections</p>
                    </div>
                </div>  
            </div>  
            
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            {% comment %} <a href="{% url 'maps' %}" class="">
                <div class="box-1 d-flex flex-column align-items-center raleway">
                    <img src="{% static 'static/img/map.png' %}" class="my-2" alt="map">
                    <h3 class="inner_text">map</h3>
            <p class="px-2 mt-2 text-center">Click here to access your personalized map interface.</p>
        </div></a>
        <a href="{% url 'expense' %}" class="">
        <div class="box-1 d-flex flex-column align-items-center raleway">
            <img src="{% static 'static/img/budget.png' %}" class="my-2" alt="expense">
            <h3 class="inner_text">Expenses</h3>
            <p class="px-2 mt-2 text-center">click here to gain insights into your financial transactions.</p>
        </div></a> {% endcomment %}
        {% comment %} {% else %}
        <a href="{% url 'login' %}" button class="">
        <div class="box-1 d-flex flex-column align-items-center raleway">
            <img src="{% static 'static/img/user.png' %}" class="my-2" alt="expense">
            <h3 class="inner_text">Sign in</h3>
            <p class="px-2">Sign in to see your expenses</p>
        </div></a>
        {% endif %} {% endcomment %}
    </div>
</div>
</section>

{% endblock content %}