{% extends "users/base.html" %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Map</title>
</head>
<body>
    <div>
        <form method="get" action="{% url 'maps' %}">
            <select name="date_filter">
                <option value="today" {% if selected_date_filter == 'today' %}selected{% endif %}>Today</option>
                <option value="yesterday" {% if selected_date_filter == 'yesterday' %}selected{% endif %}>Yesterday</option>
                <option value="last_week" {% if selected_date_filter == 'last_week' %}selected{% endif %}>Last Week</option>
                <option value="last_month" {% if selected_date_filter == 'last_month' %}selected{% endif %}>Last Month</option>
            </select>
            <button type="submit">Apply</button>
        </form>
    </div>
    <div> {{ maps | safe }} </div>
</body>
</html>
{% endblock %}