{% extends "users/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

<div class = "main">
    
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="p-3 ">
    <div class="bg1 w-25 m-auto rounded width12 width1"  >
    <div class="d-flex p-3 justify-content-center form-content w--rem-28" >
    <div class="">
        
        <form  id="profileForm" >
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <div class="d-flex dflex12 w-100">
                           <div class = "">
                            <label class="small mb-0 ">First Name:</label>
                            {{ user_form.first_name }} 
                           </div>
                            <div class = "ml-4 margin12">
                            <label class="small mb-0">Last Name:</label>
                            {{ user_form.last_name }} 
                            </div>
                        </div>
                            <label class="small mb-1">Email:</label>
                            {{ user_form.email }} 
                            <label class="small mb-1">Username:</label>
                            {{ user_form.username }} 
                            <label class="small mb-1">Phone Number:</label>
                            {{profile_form.phone}}
                            
                            <label class="small mb-1">Address:</label>
                            <label for="exampleFormControlTextarea1"></label>
                            {{profile_form.address}}
                    </div>
                </div>
            </div>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Change Password</a>
                    </div>           
        </form>
    
    <div class="">
        <div class="form-row ">
            <div class="col-m-5">
                <label class="small">Bio:</label> {{ profile_form.bio }}
            </div>
        </div>
    
           <div class="p-2"></div>
           
            
            <button type="reset" class="button1 btn btn-primary btn-lg">Reset</button>
    </div>
    </div>
    </div>
    </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
 $('#profileForm').on('submit' , function(e){
    e.preventDefault();
    data =  $('#profileForm').serialize()
    console.log(data);
    $.ajax({
        method : "post",
        url : "{% url 'users-profile' %}",
        data : data,
        success : function(data){
            console.log(data);
            alert("data updated succesfully")
            {% comment %} location.reload() {% endcomment %}
        },
    })
 })
</script>
{% endblock content %}