{% extends "users/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

<div class = "main">
    
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="p-3 ">
    <div class="bg1 w-25 m-auto rounded width12 width1"  >
    <div class="d-flex p-3 justify-content-center form-content w--rem-28" >
    <div class="">
        
        <form  id="profileForm" >
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <div class="d-flex dflex12 w-100">
                           <div class = "">
                            <label class="small mb-0 ">First Name:</label>
                            {{ user_form.first_name }} 
                           </div>
                            <div class = "ml-4 margin12">
                            <label class="small mb-0">Last Name:</label>
                            {{ user_form.last_name }} 
                            </div>
                        </div>
                            <label class="small mb-1">Email:</label>
                            {{ user_form.email }} 
                            <label class="small mb-1">Username:</label>
                            {{ user_form.username }} 
                            <label class="small mb-1">Phone Number:</label>
                            {{profile_form.phone}}
                            
                            <label class="small mb-1">Address:</label>
                            <label for="exampleFormControlTextarea1"></label>
                            {{profile_form.address}}
                    </div>
                </div>
            </div>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Change Password</a>
                    </div>           
        </form>
    
    <div class="">
        <div class="form-row ">
            <div class="col-m-5">
                <label class="small">Bio:</label> {{ profile_form.bio }}
            </div>
        </div>
    
           <div class="p-2"></div>
           
            
            <button type="submit" class="button1 btn btn-primary btn-lg">Update</button>
    </div>
    </div>
    </div>
    </div>
    </div>
    
{% endblock content %}
{% block js %}
<script>
    $(document).ready(function(){
        $("#profileForm").submit(function(e){
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: "{% url 'users-profile' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data){
                    $("#form_errors").html("");
                    $("#form_errors").hide();
                    $("#form_success").html(data.message);
                    $("#form_success").show();
                },
                error: function(data){
                    $("#form_success").html("");
                    $("#form_success").hide();
                    $("#form_errors").html("");
                    $("#form_errors").show();
                    $.each(data.responseJSON, function(key, value){
                        $("#form_errors").append("<strong>"+value+"</strong>");
                    });
                }
            });
        });
    });
</script>
{% endblock js %}
